.election{
    width: 100%;
    margin:4rem 0rem;
}
.election_container{
    width: 80%;
    margin: 0 auto;
}
.election_candidate{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 1rem;
    background-color: var(--bg-shadow-dark-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}
.election_candidate > div{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 1rem;
}
.election_candidate >div >p{
    font-weight:600;
    font-size: 1.5rem;
}
.election_candidate >div>span{
    font-weight: 500;
    font-size: 1.4rem;
}
