.registration{
    width: 100%;
    flex-grow: 1;
}
.registration_container{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 4rem 3rem 4rem;
    border: 1px solid var(--icons-light-color);
    border-radius: 5px;
    margin-top: 5rem;
    background-color: var(--shadow-light-color);
    box-shadow: var(--box-shadow);
}
.registration_container > h2{
    font-size: 2rem;
    font-weight:bolder;
    text-decoration: underline;
    margin-bottom: 4rem;
    letter-spacing: 1px;
}
.registration_form{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 2rem;
}
.registration_form > div{
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem;
    width: 80%;
    justify-self: center;
}
.registration_form >div>label{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.registration_form>div>input{
    height: 3rem;
    border-radius: 5px;    
    border: none;
    outline: none;
    padding-left:1rem ;
    background-color: var(--icons-light-color);
}

.button{
    grid-column: 2/3;
    width: 40%;
    height: 3rem;
    justify-self: center;
    border-radius: 10px;
    background-color: var(--icons-color);
    color: var(--icons-bg-color);
    border: none;
    font-size: 1.2rem;
    outline: none;
    transition: all ease-in 0.3s;
    box-shadow: var(--box-shadow);
    margin-top: 2rem;
}
.button:hover{
    background-color: var(--main-bg-color);
    color: var(--icons-color);
}