.button{
    width: 15rem;
    height: 3rem;
    justify-self: center;
    border-radius: 10px;
    background-color: var(--icons-color);
    color: var(--icons-bg-color);
    border: none;
    font-size: 1.2rem;
    outline: none;
    transition: all ease-in 0.3s;
    box-shadow: var(--box-shadow);
    margin-top: 2rem;
    cursor: pointer;
}
.button:hover{
    background-color: var(--icons-light-color);
    color: var(--icons-color);
}

.deployButton{
    justify-self: flex-end;
    align-self: flex-end;
}